body{background-color: #333}

h1{ font-size: 7vh;  }

header{background-color: orange;  min-height: 20vh; text-align:center; }

#baner a{ background-color: yellow; border-radius: 32px; font-size:3vh; padding: 0 40% 0 40%}

nav{background-color: orange;  min-height: 2vh; }

button{ border-radius: 32px; font-size:2vh; margin-left: 10% ; padding:10px ; display: inline;}

div{ display: inline;}

section{ background-color: yellow;  font-size:3vh; text-align:center; width: 70%; margin-left: 15%}

section select{ width: 50%; height: 5vh; font-size:3vh }

#descripcionlist{width: 70%; margin-left: 15%}
#descripcionlist li{ font-size:3vh; padding: 1vh; }


#inPrecio{ width: 60%}
#inInflacion{ width: 60%}
#botonInflaRun{width: 60%; margin-left: 20%}
#InfDisplay{width: 60%; }



#inPotencia{width: 60% ;height: 8vh; font-size: 5vh}
#botonCableRun{width: 60%; margin-left: 20%}
#CableDisplay{height: 12vh; width: 60%; color: red; margin-left: 20%; background-color: yellow; text-align: center; font-size: 10vh}


#inParticipante{height: 8vh; font-size: 5vh; }
#botonSorteoAdd{ width:25%; margin-left:20%; height: 8vh; font-size:5vh }
#botonSorteoSortear{ width:25%; height: 8vh; font-size:5vh }
#displaySorteo{height: 12vh; width: 60%; color: red; margin-left: 20%; background-color: yellow; text-align: center; font-size: 10vh  }

footer{ font-size: 4vh; background-color: #000; border-radius: 32px; color: #999; text-align: center }


